{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Info</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>
<body>
    <h1>Content Information</h1>
    <div id="content-info"></div>
    <button id="like-button">Like</button>
    <button id="dislike-button">Dislike</button>
    <button id="watch-button">Watch</button>

    <script src="{% static 'myapp/js/contentInfoEvent.js' %}"></script>
</body>
</html>