{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Info</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div id="content-info"></div>
        <div class="button-section">
            <button id="like-button" class="action-button like-button">좋아요</button>
            <button id="dislike-button" class="action-button dislike-button">싫어요</button>
            <button id="watch-button" class="action-button watch-button">Play Now</button>
        </div>
    </div>

    <script src="{% static 'myapp/js/contentInfoEvent.js' %}"></script>
</body>
</html>