{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTT 추천 서비스</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}?after">
</head>
<body>
    <header>
      <div class="search-bar">
        <select id="search-tag">
          <option value="genre">Genre</option>
          <option value="director">Director</option>
          <option value="title">Title</option>
          <option value="cast">Cast</option>
          <option value="country">Country</option>
        </select>
        <input type="text" id="search-query" placeholder="영화 검색">
        <button onclick="searchContent()">Search</button>
      </div>
    </header>

    <main>
      <div class="main-banner">
        <img src="{% static 'images/main_banner.jpg' %}" alt="Main Banner">
      </div>
  
      <nav class="menu-bar">
         <button class="menu-button" onclick="loadContentList('recommend')">추천</button>
          <button class="menu-button" onclick="loadContentList('history')">시청기록</button>
          <button class="menu-button" onclick="loadContentList('genre')">장르</button>
        </nav>
  
        <section class="content-list" id="recommend">
            <div class="scroll-container">
              <!-- 추천 콘텐츠 아이템 -->
            </div>
          </section>
      
          <section class="content-list" id="history" style="display: none;">
            <div class="scroll-container">
              <!-- 시청기록 콘텐츠 아이템 -->
            </div>
          </section>
      
          <section class="content-list" id="genres" style="display: none;">
            <div class="scroll-container">
              <!-- 장르 선택 콘텐츠 아이템 -->
            </div>
          </section>
    </main>

    <script src="{% static 'js/clickEvent.js' %}"></script>
</body>
</html>
