<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/login_style.css' %}}">
</head>
<body>
    <div class="container">
        <h2>OTT Recommend System</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Id:</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit">login</button>
        </form>
        <a href="{% url 'accounts:signup' %}" class="signup-button">Sign Up</a>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
