<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/signup_style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username">ID:</label>
            <input type="text" id="username" name="username" required><br>
            <!-- 비밀번호 입력 -->
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required><br>
            <!-- 비밀번호 확인 입력 -->
            <label for="password_confirm">비밀번호 확인:</label>
            <input type="password" id="password_confirm" name="password_confirm" required><br>
            <!-- 회원가입 버튼 -->
            <button type="submit">Sign Up</button>
        </form>
    </div>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</body>
</html>
